<div class="inner cover">
  <h1 class="cover-heading">SendText</h1>
  <p class="lead">
    <form class="sendText">
      <label for="inputNumber" class="sr-only">Mobile Number</label>
      <input type="numeric" id="inputNumber" class="form-control" placeholder="Mobile Number" required="" autofocus="" name="mobileNumber">
      <textarea placeholder="Type your message..." name="textMessage"></textarea>
      <button class="submit btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    <div id="sent" class="my-notify-success alert alert-success"><i class="fa fa-check"></i> Your message has be Sent!</div>
    <div id="notSent" class="my-notify-failure alert alert-danger">
      <p><i class="fa fa-close"></i> Your message has not been sent!</p>
      <p class="message"></p>
    </div>
  </p>
</div>